<!--About Section-->
<section class="about-section-three" id="scroll-section">
<figure class="floated-image-1"><img src="/assets/images/resource/iphone-mockup.png" alt=""></figure>
<figure class="floated-image-2"><img src="/assets/images/resource/telegram-mini-app.png" alt=""></figure>
<div class="auto-container">
    <div class="row clearfix">
        <!--Text Column-->
        <div class="text-column col-lg-6 col-md-12 col-sm-12">
            <div class="inner">
                <div class="text-content">
                    <div class="text-block">
                        <div class="title">
                            <span class="count">
                                <img src="/assets/images/resource/telegram.png" alt="02">
                            </span>
                            <h4>Collect Instantly</h4>
                        </div>
                        <div class="text">Collectors can purchase unique generative art NFTs easily through Telegram, providing a fast and accessible way to own exclusive digital pieces.</div>
                    <br></br>
                        <center>
                            <a href="https://t.me/GeneratedArtBot" class="theme-btn btn-style-five"><span class="btn-title">Explore</span></a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <!--Image Column-->
        <div class="image-column col-lg-6 col-md-12 col-sm-12">
            <div class="inner clearfix">
                <figure class="image paroller" data-paroller-factor="-0.07" data-paroller-factor-lg="-0.07"
                    data-paroller-factor-md="-0.07" data-paroller-factor-sm="-0.07"
                    data-paroller-type="foreground" data-paroller-direction="horizontal"><img
                        src="/assets/images/resource/iphone-mockup.png" alt=""></figure>
                <figure class="image paroller" data-paroller-factor="-0.07" data-paroller-factor-lg="-0.07"
                    data-paroller-factor-md="-0.07" data-paroller-factor-sm="-0.07"
                    data-paroller-type="foreground" data-paroller-direction="vertical"><img
                        src="/assets/images/resource/telegram-mini-app.png" alt=""></figure>
            </div>
        </div>
    </div>
</div>
</section>