<!--About Section-->
</br>
</br>
</br>
</br>
<section class="about-section-three" id="scroll-section">
<figure class="floated-image-1"><img src="/assets/images/resource/featured-image-12.png" alt=""></figure>
<figure class="floated-image-2"><img src="/assets/images/resource/genart-dongle.png" alt=""></figure>
<div class="auto-container">
    <div class="bubble-dotted">
        <span class="dotted dotted-1"></span>
        <span class="dotted dotted-2"></span>
        <span class="dotted dotted-3"></span>
        <span class="dotted dotted-4"></span>
        <span class="dotted dotted-5"></span>
        <span class="dotted dotted-6"></span>
        <span class="dotted dotted-7"></span>
        <span class="dotted dotted-8"></span>
        <span class="dotted dotted-9"></span>
        <span class="dotted dotted-10"></span>
    </div>
    <div class="row clearfix">
        <!--Text Column-->
        <div class="text-column col-lg-6 col-md-12 col-sm-12">
            <div class="inner">
                <div class="sec-title-three left-aligned">
                    <div class="sub-title">Collection format</div>
                    <h2>Buying GenArt</h2>
                    <div class="lower-text">Collectors can easily acquire generative art in multiple ways: purchase unique digital pieces directly on Telegram, or visit our flagship gallery in Geneva to buy physical artworks or convenient plug-and-play USB dongles containing generative art.</div>
                </div>
                <div class="text-content">
                    <div class="text-block">
                        <div class="title">
                            <span class="count">01</span>
                            <h4>USB Dongle</h4>
                        </div>
                        <div class="text">
                            Come to our Geneva gallery to buy original physical generative artworks or convenient plug-and-play USB dongles preloaded with generative art—bridging digital creativity with tangible experience.</div>
                    </div>
                    <div class="text-block">
                        <div class="title">
                            <span class="count">02</span>
                            <h4>Telegram</h4>
                        </div>
                        <div class="text">Collectors can purchase unique generative art NFTs easily through Telegram, providing a fast and accessible way to own exclusive digital pieces.</div>
                    </div>
                </div>
            </div>
        </div>
        <!--Image Column-->
        <div class="image-column col-lg-6 col-md-12 col-sm-12">
            <div class="inner clearfix">
                <figure class="image paroller" data-paroller-factor="-0.07" data-paroller-factor-lg="-0.07"
                    data-paroller-factor-md="-0.07" data-paroller-factor-sm="-0.07"
                    data-paroller-type="foreground" data-paroller-direction="horizontal"><img
                        src="/assets/images/resource/featured-image-12.png" alt=""></figure>
                <figure class="image paroller" data-paroller-factor="-0.07" data-paroller-factor-lg="-0.07"
                    data-paroller-factor-md="-0.07" data-paroller-factor-sm="-0.07"
                    data-paroller-type="foreground" data-paroller-direction="vertical"><img
                        src="/assets/images/resource/genart-dongle.png" alt=""></figure>
            </div>
        </div>
    </div>
</div>
</section>
