<!--Featured Section-->
<section class="featured-section-three">
    <div class="map-layer">
        <div class="bg-layer"></div>
        <div class="map-content">
            <div class="location-point loc-one wow bounceInUp" data-wow-delay="0ms">
                <div class="inner">
                    <div class="image"><img src="/assets/images/resource/featured-thumb.jpg" alt=""></div>
                    <h5>Romada Co.</h5>
                    <div class="info">12.000 People</div>
                </div>
            </div>
            <div class="location-point loc-two wow bounceInUp" data-wow-delay="300ms">
                <div class="inner">
                    <div class="image"><img src="/assets/images/resource/featured-thumb.jpg" alt=""></div>
                    <h5>Romada Co.</h5>
                    <div class="info">12.000 People</div>
                </div>
            </div>
            <div class="location-point loc-three wow bounceInUp" data-wow-delay="600ms">
                <div class="inner">
                    <div class="image"><img src="/assets/images/resource/featured-thumb.jpg" alt=""></div>
                    <h5>Romada Co.</h5>
                    <div class="info">12.000 People</div>
                </div>
            </div>
            <div class="location-point loc-four wow bounceInUp" data-wow-delay="300ms">
                <div class="inner">
                    <div class="image"><img src="/assets/images/resource/featured-thumb.jpg" alt=""></div>
                    <h5>Romada Co.</h5>
                    <div class="info">12.000 People</div>
                </div>
            </div>
            <div class="location-point loc-five wow bounceInUp" data-wow-delay="600ms">
                <div class="inner">
                    <div class="image"><img src="/assets/images/resource/featured-thumb.jpg" alt=""></div>
                    <h5>Romada Co.</h5>
                    <div class="info">12.000 People</div>
                </div>
            </div>
        </div>
    </div>
</section>